.cache/*
auto-save-list/*
custom.el
eln-cache/*
elpa/*
elpy/*
emacs.el
eshell/history
eshell/lastdir
history
magithub/*
network-security.data
projectile-bookmarks.eld
recentf
scratch.el
session.*
tramp
transient/*
